{% extends 'base.html.twig' %}

{% block title %}Favorite List{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="pokemon-container">
        {% for favoritePokemon in favoriteList %}
            {% set imagePath = "images//#{favoritePokemon.pokedexNumber}.png" %}
            {% set primaryTypePath = "images//#{favoritePokemon.primaryType}.png" %}
            {% set secondaryTypePath = favoritePokemon.secondaryType ? "images//#{favoritePokemon.secondaryType}.png" : null %}

            <div class="pokemon">
                <img src="{{ asset(imagePath) }}" alt="{{ favoritePokemon.name }} Image">
                <p>{{ favoritePokemon.name }}</p>
                <div class="types">
                    <img src="{{ asset(primaryTypePath) }}" alt="{{ favoritePokemon.primaryType }} Type">
                    {% if secondaryTypePath %}
                        <img src="{{ asset(secondaryTypePath) }}" alt="{{ favoritePokemon.secondaryType }} Type">
                    {% endif %}
                </div>
                <p>#{{ favoritePokemon.pokedexNumber }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}





